.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-lg-12
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.datatable-table#table_resultados
                %thead
                  %tr
                    %th
                      Titulo
                    %th
                      Autor
                    %th
                      Nombre del Archivo
                    %th
                      Tipo de Contenido
                    %th
                      Tipo de Archivo
                    %th
                      Acciones
                %tbody#tbody_resultados
