// Font
@font-face { font-family: "questrial"; src: url('Questrial-Regular.otf'); }
$font-stack: "questrial";

// Basic Colors
$navy:  #00BEFF;           // Primary color
$dark-gray: #D4D7DE;      // Default color
$blue: #375386;           // Success color
$lazur: #23c6c8;          // Info color
$yellow: #00779f;         // Warrning color
$red: #CD001E;            // Danger color
$black: #20232C;
$ocher: #00BEFF;


// Various colors
$text-color: #676a6c;           // Body text
$gray: #f3f3f4;                 // Background wrapper color
$light-gray: #d1dade;           // Default label, badget
$label-badget-color: #5e5e5e;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;   // IBox border
$ibox-title-bg: white;    // IBox Background header
$ibox-content-bg: white;  // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: url("patterns/shattered.png");

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
//$nav-bg: #2f4050;
$nav-bg: #00BFFF;
$nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
$nav-text-color: white;
$nav-bar-bg: #212320;
