.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Grupos Registrados
      = @empresa.present? ? ' del '+@empresa.denominacion : nil
      %i.fa.fa-bars

    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Grupos Registrados', grupos_path
.wrapper.wrapper-content.animated.fadeInRight#pagina_contactos
  - if @grupos.empty?
    - if can? :create, Grupo
      .row
        .col-md-12
          %ul.text-muted.leyenda
            %li.text-justify
              Puede registrar un Grupo haciendo click en
              %span.amarillo
                Nuevo Evento
    .ibox-content.text-center
      %h3.font-bold No hay Grupos Registrados
      - if can? :create, Grupo
        =link_to  'Nuevo Grupo',new_evento_path ,  class: 'btn btn-primary pull-center'
        %br/
        %br/
  -else
    = render 'table_grupos', object: @grupos

