.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-lg-8.col-lg-offset-2
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.display#table_resultados
                %thead
                  %th.align-center
                    Nombres
                    %i.fa.fa-sort
                  %th.align-center
                    Apellidos
                    %i.fa.fa-sort
                  %th.align-center
                    Documento de Identidad
                    %i.fa.fa-sort
                  %th.align-center
                    Acciones
                    %i.fa.fa-sort
                %tbody#tbody_resultados