.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    %h2
      Invitados
      %i.fa.fa-cogs
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li.active
        %strong
          Editando Invitados
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'
